<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contac | Emilia Cole </title>
    <script
      src="https://kit.fontawesome.com/d797b1fcfc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="contac">
    <header class="header--horizontal">
      <nav class="header__nav--horizontal">
          <ul class="header__nav__ul--horizontal">
          <li><a href="/">home</a></li>
          <li><a href="/about">abaout</a></li>
          <li><a href="/music">music</a></li>
          <li><a href="/contac">contac</a></li>
        </ul>
      </nav>
      <nav>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-spotify"></i></a>
        <a href=""><i class="fa-brands fa-apple"></i></a>
        <a href=""><i class="fa-brands fa-amazon"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </nav>
    </header>
    <main>
      <section id="contac">
        <h1>CONTAC //</h1>
        <h4>WE ARE HERE</h4>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses!2sar!4v1696643041149!5m2!1ses!2sar"
          width="100"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </section>
      <section>
        <h2>CONTACT INFO</h2>
        <article>
          <h3>MANAGEMENT | Karen Blanche</h3>
          <p>email: <a href="mailto:info@mysite.com">info@mysite.com</a></p>
          <p>phone: <a href="tel:123-456-7890">123-456-7890</a></p>
        </article>
        <article>
          <h3>BOOKING | Daniel Ku</h3>
          <p>email: <a href="mailto:info@mysite.com">info@mysite.com</a></p>
          <p>phone: <a href="tel:123-456-7890">123-456-7890</a></p>
        </article>
        <h3>LABEL | Wix Records, Jake Coldham</h3>
        <p>email: <a href="mailto:info@mysite.com">info@mysite.com</a></p>
        <p>phone: <a href="tel:123-456-7890">123-456-7890</a></p>
        <article>
          <h3>PR | That Girl Pr, Sarah Brookstone</h3>
          <p>email: <a href="mailto:info@mysite.com">info@mysite.com</a></p>
          <p>phone: <a href="tel:123-456-7890">123-456-7890</a></p>
        </article>
      </section>
    </main>
  </body>
</html>
