/* Para crear variables en css */
:root {
    --tipografiaTitulos: 'Raleway', sans-serif;
    --tipografiaEmilia: 'Work Sans', sans-serif;
    --tipografiaGeneral: 'Open Sans', sans-serif;
    --colorVerde: #44a391
}

/* selecctor unviersal ( * ) */
*{margin: 0;}

body{
    font-family: var(--tipografiaGeneral); 
    padding: 5px;
}

h1{
    font-family: var(--tipografiaTitulos);
    text-transform: uppercase; /* Mayuscula o minuscula */
    font-weight: 700; /* peso o grosor de letra */
    font-size: 65px; /* tamaño */
}

ul li {
    list-style: none; /* Sacar viñetas */
}

a {
    text-decoration: none; /* sacar el subrayado */
}

ul {
    padding-left: 0; /* Todos los elementos a la izq. */
}