/* Para crear variables en css */
:root {
    --tipografiaTitulos: 'Raleway', sans-serif;
    --tipografiaEmilia: 'Work Sans', sans-serif;
    --tipografiaGeneral: 'Open Sans', sans-serif;
}

/* selecctor unviersas ( * ) */
*{margin: 0;}

body{
    font-family: var(--tipografiaGeneral);
}

h1{
    font-family: var(--tipografiaTitulos);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 65px;
}

ul li {
    list-style: none; /* Sacar viñetas */
}

a {
    text-decoration: none; /* sacar el subrayado */
}

ul {
    padding-left: 0; /* Todos los elementos a la izq. */
}